.pageforge-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(156, 163, 175, 0.3) transparent
}

.pageforge-scrollbar::-webkit-scrollbar {
    width: 6px
}

.pageforge-scrollbar::-webkit-scrollbar-track {
    background: transparent
}

.pageforge-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.3);
    border-radius: 3px;
    transition: background-color .2s
}

.pageforge-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(156, 163, 175, 0.5)
}

.dark .pageforge-scrollbar {
    scrollbar-color: rgba(156, 163, 175, 0.2) transparent
}

.dark .pageforge-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.2)
}

.dark .pageforge-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(156, 163, 175, 0.4)
}